/*android*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700);

html {
    display: table;
    width: 100%;
    height: 100%;
}

body {
    overflow:auto;
    display: table-cell;
    text-align: center;
    width: 100%;
    height: 100%;
}

body, html {
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(#862077, #140027);
}

body {
    padding: 0;
}

video {
    display: block;
    margin: 0 auto;
    width: 100px;
}

h2.title {
    color: #ffffff;
    text-align: center;
}

#number, #client-number {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    text-shadow: 0 0 13px rgba(0, 0, 0, .8);
}

#started {
    display: block;
    margin: 0 auto;
    color: #ffffff;
}

#send-number, #connect {
    color: #000000;
    text-align: center;
}

/* = Fancy (Twitter Bootstrap) = */

form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 80px;
}

#server-address {
    -webkit-appearance: none;
    border-radius:0;
    color: #000000;
}

/* Custom footer CSS
-------------------------------------------------- */
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
.footertext {
    color: #ffffff;
}

.send-my-number input, .send-my-number button {
    float: none;
    display: inline-block;
    vertical-align: middle;
}



.button {
    display: inline-block;
    margin: auto;
    width: $s*40;
    height: 45px;
    border: none;
    background: #1abc9c;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        background: darken(#1abc9c, 10%);
        width: $s*80;
        height: 45px;
        position: absolute;
        transform: translate($s*-100,$s*-40) rotate(130deg);
        transition: all 700ms ease;
    }
    &:after {
        content: attr(data-word);
        color: white;
        font-size: 2em;
        position: relative;
        z-index: 100;
        transition: all 200ms ease;
        font-weight: 200;
    }

    &:hover {
        &:after {
            font-size: 2.2em;
        }
        &:before {
            transform: translate($s*-20,$s*-40) rotate(130deg);
        }
    }
}

.input-number {
    padding: 5px;
    height: 45px;
    color: #000;
    border: 1px solid #000;
    vertical-align: middle;
}

.input-number::-webkit-file-upload-button {
    visibility: hidden;
}

.input-number::before {
    content: 'Browse';
    color: #666;
    display: inline-block;
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    margin: -3px 0 -3px -3px;
    padding: 5px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 3px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.input-number:hover::before {
    border-color: black;
}
.input-number:active {
    outline: 0;
}
.input-number::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}




